
.head {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 80px;


}

.div1 {
    background-image: linear-gradient(#6D059E, white );
    height: 200px;

}

.head1{
    color: #6D059E;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.text {
        color: black;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.6;
}

.div2 {
    text-align: center;
}


.workshop-button {
    appearance: none;
  background-color: #C976D7;
  border: none;
  border-radius: 15px;
  box-sizing:content-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  min-height: 0;
  min-width: 0;
  height: 20px;
  max-width: 100px;
  outline: none;
  padding: 5px 24px;
  
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;

}

.workshop-button:disabled {
  pointer-events: none;
}

.workshop-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.workshop-button:active {
  box-shadow: none;
  transform: translateY(0);
}

.divider{
    width:70px;
    height:auto;
    display:inline-block;
}