
.sponsor-us {
    padding: 50px 0;
}

.sponsor-us .inner {
    align-items: flex-start;
}

.sponsor-us h2 {
    margin-bottom: 25px;
}

.sponsor-us .benefits-table {
    border-collapse: collapse;
    width: 90%;
}

.sponsor-us .benefits-table thead {
    border-bottom: 5px solid #dabb78;
}

.sponsor-us .benefits-table th, .sponsor-us .benefits-table td {
    border: 1px solid #21386e;
    padding: 15px 25px;
}

.sponsor-us .benefits-table th {
    background-color: #21386e;
    color: white;
    font-weight: 500;
    text-align: left;
}

.sponsor-us .benefits-table tbody th {
    padding-left: 80px;
}

.sponsor-us .benefits-table th:not(:first-of-type), .sponsor-us .benefits-table tbody td {
    text-align: center;
}

.sponsor-us .benefits-table .col .circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #dabb78;
    border-radius: 50%;
}
