
.sponsor-us {
    padding: 50px 0;
}

.sponsor-us .inner {
    align-items: flex-start;
}

.sponsor-us h2 {
    margin-bottom: 25px;
}

.sponsor-us .benefits-table {
    border-collapse: collapse;
    width: 90%;
}

.sponsor-us .benefits-table thead {
    border-bottom: 5px solid #f19871;
}

.sponsor-us .benefits-table th, .sponsor-us .benefits-table td {
    border: 1px solid #7637d9;
    padding: 15px 25px;
}

.sponsor-us .benefits-table th {
    background-color: #7637d9;
    color: white;
    font-weight: 500;
    text-align: left;
}

.sponsor-us .benefits-table th:not(:first-of-type), .sponsor-us .benefits-table tbody td {
    text-align: center;
}

.sponsor-us .benefits-table .col .circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #f19871;
    border-radius: 50%;
}


@media (max-width: 700px) {

    .sponsor-us .benefits-table {
        border-collapse: collapse;
        width: 100%;
    }

}

@media (max-width: 475px) {

    .sponsor-us .inner > div {
        overflow-x: auto;
        width: 100%;
    }

}
