@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
}

h1, h2, h3 {
    color: #383838;
    text-align: center;
}


.inner {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}

.purple {
    color: #8C5FD2;
}

/****  NAVIGATION BAR  ****/

.nav-top {
    background-color: #ecebeb;
    font-weight: 600;
    color: #062754;
    padding: 0.2rem 0;
}

.nav-top .inner {
    justify-content: flex-end;
    flex-direction: row;
}

.nav-top a {
    color: inherit;
    text-decoration: none;
}

.nav-top img {
    width: 30px;
}

.nav {
    color: black;
    padding: 0.75rem 0;
    min-height: 4.5rem;
    display: flex;
}

.nav .inner {
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    align-items: stretch;
}


.nav .logo {
    position: absolute;
    left: -10%;
    top: -10%;
}

.nav .wits-logo {
    width: 85px;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 1.3rem;
    font-weight: 500;
}

.nav li {
    padding: 0;
}

.nav a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s ease;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.nav a:hover {
    color: dimgrey;
}

.nav .dropdown {
    position: relative;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.nav .dropdown .content {
    display: none;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 3;
    width: 160px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.nav .dropdown .content a {
    padding: 15px 20px;
    box-sizing: border-box;
}

.nav .dropdown:hover .content {
    display: block;
}

/****  NAVIGATION BAR -- END  ****/


/****  FOOTER  ****/

.footer {
    /*background-color: #ecebeb;*/
    border-top: 1px solid #8C5FD2;
}

.footer .inner {
    flex-direction: row;
    /*justify-content: center;*/
}

.footer img {
    width: 40px;
}


/****  FOOTER -- END  ****/


/****  TITLE HERO  ****/

.hero {
    padding: 100px 0;
    background-image:
        linear-gradient(to bottom, #590082 5%, rgba(17, 13, 16, 0.73) ),
        url("https://images.unsplash.com/photo-1550305080-4e029753abcf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80")
    ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 70%;
    color: white;
}

.hero h1, .hero h2, .hero h3 {
    color: white;
}

.hero h2 {
    margin-top: 20px;
}

.hero .inner {
    text-align: center;
}

/****  TITLE HERO -- END ****/


.text {
    color: black;
    text-align: center;
    line-height: 1.6;
}


.testimonials {
    background-color: #8C5FD2;
    padding: 30px 0;
    color: white;
}

.testimonials h1 {
    color: white;
    margin-bottom: 15px;
}

.testimonials .testimonial-list {
    /*width: 100%;*/
}


/****  NOT FOUND  ****/

.not-found {
    text-align: left;
    background-color: #8C5FD2;
    color: white;
    padding: 40vh 0;
    font-weight: 300;
}

.not-found h1, .not-found h2 {
    color: white;
}

.not-found h1 {
    font-size: 8rem;
    margin-bottom: 20px;
}

.not-found h2 {
    margin-bottom: 10px;
}


/****  NOT FOUND -- END  ****/


.tickets {
    padding: 60px 0;
    text-align: center;
}

.sponsor-list {
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 8%;
    justify-content: center;
}

.sponsor-list img {
    max-height: 100px;
    height: auto;
}

